# Bot Token
HELEUS_TOKEN=

#Bot Name
HELEUS_NAME=

# Optionally load up some cogs on boot
HELEUS_LOAD_COGS=cogs.command_log,cogs.sharding,cogs.help

# The Redis server hostname. Leave this as-is if using Docker
HELEUS_REDIS_HOST=redis
