[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aredis = "*"
dill = "*"
raven = "*"
strictyaml = "*"
tabulate = "*"
psutil = "*"
"discord.py" = {extras = ["voice"], git = "https://github.com/Rapptz/discord.py.git", ref = "abe54f5bdc48b2a92fd2a0d158ac15655049174d"}

[requires]
python_version = "3.9"
