[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aredis = "*"
dill = "*"
raven = "*"
strictyaml = "*"
tabulate = "*"
psutil = "*"
"discord.py" = {extras = ["voice"], version = "*"}

[requires]
python_version = "3.9"
